@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: var(--mantine-color-grey-0);
}

a {
  text-decoration: none !important;
}

.mantine-Stepper-content {
  overflow-y: auto;
  height: calc(100vh - 320px);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mantine-Stepper-content::-webkit-scrollbar {
  display: none;
}

.code {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.app-notification {
  will-change: filter;
  -webkit-transition: filter 1s ease-in-out;
  transition: filter 1s ease-in-out;
}
.app-notification.viewed {
  -webkit-filter: brightness(.93) grayscale(.3);
  filter: brightness(.93) grayscale(.3);
}
.app-notifications section {
  width: 600px;
  flex: none;
  max-width: calc(100% - 2rem);
}
.app-notifications header {
  border-bottom: 1px solid rgb(229, 231, 235);
}

.notify-bell.active svg {
  -webkit-animation: shake 4s normal linear infinite;
  animation: shake 4s normal linear infinite;
}

.mantine-Modal-content {
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: touch !important;
}

@-webkit-keyframes shake {
  1%  {transform: rotate(15deg)}
  2%  {transform: rotate(0deg)}
  3%  {transform: rotate(-15deg)}
  4%  {transform: rotate(0deg)}
  5%  {transform: rotate(15deg)}
  6%  {transform: rotate(0deg)}
  7%  {transform: rotate(-15deg)}
  8%  {transform: rotate(0deg)}
  9%  {transform: rotate(15deg)}
  10%  {transform: rotate(0deg)}
  11%  {transform: rotate(-15deg)}
  12%  {transform: rotate(0deg)}
  13%  {transform: rotate(15deg)}
  14%  {transform: rotate(0deg)}
  15%  {transform: rotate(-15deg)}
  16%  {transform: rotate(0deg)}
  100%  {transform: rotate(0deg)}
}

@keyframes shake {
  1%  {-webkit-transform: rotate(15deg)}
  2%  {-webkit-transform: rotate(0deg)}
  3%  {-webkit-transform: rotate(-15deg)}
  4%  {-webkit-transform: rotate(0deg)}
  5%  {-webkit-transform: rotate(15deg)}
  6%  {-webkit-transform: rotate(0deg)}
  7%  {-webkit-transform: rotate(-15deg)}
  8%  {-webkit-transform: rotate(0deg)}
  9%  {-webkit-transform: rotate(15deg)}
  10%  {-webkit-transform: rotate(0deg)}
  11%  {-webkit-transform: rotate(-15deg)}
  12%  {-webkit-transform: rotate(0deg)}
  13%  {-webkit-transform: rotate(15deg)}
  14%  {-webkit-transform: rotate(0deg)}
  15%  {-webkit-transform: rotate(-15deg)}
  16%  {-webkit-transform: rotate(0deg)}
  100% {-webkit-transform: rotate(0deg)}
}

.slide.left {
  -webkit-animation: slide-left .2s normal ease-in-out;
  animation: slide-left .2s normal ease-in-out;
}

.slide.right {
  -webkit-animation: slide-right .2s normal ease-in-out;
  animation: slide-right .2s normal ease-in-out;
}

@-webkit-keyframes slide-left {
  0%  {
    transform: translateX(100%);
  }
  100% 
  {
    -webkit-transform: translateX(0);
  }
}

@keyframes slide-left {
  0%  {
    -webkit-transform: translateX(100%);
  }
  100%  {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0%  {
    transform: translateX(-100%);
  }
  100% 
  {
    -webkit-transform: translateX(0);
  }
}

@keyframes slide-right {
  0%  {
    -webkit-transform: translateX(-100%);
  }
  100%  {
    -webkit-transform: translateX(0);
  }
}

.zoom.in {
  -webkit-animation: zoom-in .5s normal ease-in-out;
  animation: zoom-in .5s normal ease-in-out;
}
.zoom.out {
  -webkit-animation: zoom-out .5s normal ease-in-out;
  animation: zoom-out .5s normal ease-in-out;
  opacity: 0;
  transform: scale(0);
}

@-webkit-keyframes zoom-in {
  0%  {
    opacity: 0;
    transform: scale(0);
  }
  100% 
  {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes zoom-in {
  0%  {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100%  {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes zoom-out {
  0%  {
    opacity: 1;
    transform: scale(1);
  }
  100% 
  {
    opacity: 0;
    -webkit-transform: scale(0);
  }
}

@keyframes zoom-out {
  0%  {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100%  {
    opacity: 0;
    -webkit-transform: scale(0);
  }
}

.animate-opacity {
  opacity: 0;
  will-change: opacity;
  transition: opacity .8s ease-in-out;
  pointer-events: none;
}

.animate-opacity.show {
  opacity: 1;
  pointer-events: all;
}

.rn-select {
  transform: scale(1);
  transition: transform, box-shadow, .4s ease-in-out;
  -webkit-transform: scale(1);
  -webkit-transition: transform, box-shadow, .4s ease-in-out;
  -moz-transform: scale(1);
  -moz-transition: transform, box-shadow, .4s ease-in-out;
  will-change: transform, box-shadow;
}

.rn-select.rn-selected {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  box-shadow: 1px 3px 4px 2px #00000024;}