extends layout-text

block mainContent
  | New Endpoint Created!
  | Your new endpoint has been created.
  |
  | Endpoint Path: #{endPointPath || ''}
  |
  | This email was sent from an address that cannot accept incoming email. Please do not reply to this message.