extends layout-text

block mainContent
  | #{title}
  | #{toText(content, { wordWrap: 130})}
  |
  | This email was sent from an address that cannot accept incoming email. Please do not reply to this message.