extends layout

block mainContent
  row(style="padding: 0; width: 100%; position: relative")
    columns(style="margin: 0 auto; padding-left: 16px; padding-bottom: 16px")
      div(style="text-align: center; background-color: #ffffff !important")
        img.image(src='cid:' + attachments[0].cid width="400" style="width: 400px; display: inline-block")
      br
      div(style="text-align: center; max-width: 400px; margin: 0 auto")
        h1(class='text-center') #{title}
        p !{marked(content)}
        p
        p(style="font-style: italic;") This email was sent from an address that cannot accept incoming email. Please do not reply to this message.
