extends layout-text

block mainContent
  | Subscription Successfully Created!
  | You have successfully created the validator subscription "#{ appName }".
  |
  | This email was sent from an address that cannot accept incoming email. Please do not reply to this message.