extends layout-text

block mainContent
  | Welcome to Request Network!
  | Your account has been created.
  |
  | This email was sent from an address that cannot accept incoming email. Please do not reply to this message.