.logo {
  color: var(--mantine-color-black);
  font-family: var(--mantine-font-family-headings);
  font-weight: bold;
  font-size: var(--mantine-font-size-xl);
}

.logo:hover {
  text-decoration-color: var(--mantine-color-orange-4);
}

.menu {
  border: 1px dashed var(--mantine-color-black);
}

.divider {
  border-top: 1px dashed var(--mantine-color-black);
  background-color: var(--mantine-color-black);
}